@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	background: white;
	color: black;
	font-family: sans-serif;
}

a img {
	border: 0;
}

/* Color list:

#1240AB - Main
#2A4480 - darker
#06266F - even darker
#4671D5 - lighter
#6C8CD5 - even lighter

Thanks to http://www.colorschemedesigner.com/
*/

/* Top horizontal menu */
div.horizontalmenu {
    background: #06266F;
	padding: 2px;
}
div.horizontalmenu .filmeffect {
	margin: 0; /* This margin has become the padding of div.horizontalmenu */
	padding: 2px;
	border-top: 4px dotted white;
	border-bottom: 4px dotted white;
}
div.horizontalmenu br {
    clear: both;
    height: 0;
    font-size: 0;
    display:block;
}
ul.horizontalmenu,
ul.horizontalmenu li {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.horizontalmenu > li {
    display: block;
    float: left;
}
ul.horizontalmenu > li > a {
    display: block;
    padding: 0.5em 1em;
    margin: 0;
    background: #06266F;
    color: white;
    text-decoration: none;
	font-size: 12px;
    font-weight: bold;
}
ul.horizontalmenu > li > a:hover,
ul.horizontalmenu > li > a:active,
ul.horizontalmenu > li > a:focus {
    background: #1240AB;
}


/* The main content area */
.content {
    margin-top: 0;
	margin-bottom: 17px;  /* Enough for the .footer */
	margin-left: auto;
	margin-right: auto;

	max-width: 750px;

	border: 1px gray solid;
}
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	padding: 2px 4px;
	font-size: 13px;
	line-height: 1em;

	text-align: right;
	font-style: italic;
	background: #06266F;
	color: white;
}

h1 {
	margin: 0;
	padding: 2px 8px;
	font: inherit;
	font-size: 2em;
	font-variant: small-caps;

	background: #D6D6D6;
	color: black;
}

/* "Listar sessões" table */
table.sessoes {
    border-collapse: collapse;
	margin: 1em 0;
	width: 100%;
}
table.sessoes th,
table.sessoes td {
    border: 1px gray solid;
}
table.sessoes .hora {
    text-align: center;
    white-space: nowrap;
}
table.sessoes .sala {
    text-align: center;
    white-space: nowrap;
}
table.sessoes .lugares {
    text-align: right;
    white-space: nowrap;
}
table.sessoes .filme {
    text-align: left;
}
table.sessoes th,
table.sessoes td > a {
    padding: 0.75ex 1ex;
}
table.sessoes td > a {
	display: block;
	text-decoration: none;
	color: #06266F;
}
table.sessoes tr:hover td {
	background: #D6D6D6;
}

/* Sessão */
div.sessao {
}
div.sessao .sala {
	float: left;
}
div.sessao .hora {
	/* float: right; */
	text-align: right;
}
div.sessao .hora,
div.sessao .sala {
	font-size: 1.5em;
	padding: 2px 8px;
}
div.sessao .sinopse {
	clear: both;
	margin: 1em 8px;
}
table.mapa_de_assentos {
	border-collapse: separate;
	empty-cells: show;
	table-layout: fixed;
	margin: 1em auto;
}
table.mapa_de_assentos td {
	border: 2px outset gray;
	width: 2em;
	height: 2em;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}
table.mapa_de_assentos td.assento_estado_0 {
	background: green;
}
table.mapa_de_assentos td.assento_estado_1 {
	background: red;
}
table.mapa_de_assentos td > a {
	display: block;
	width: 100%;
	height: 100%;
}

/* Comprar ingresso */
div.comprar_assento {
}
