$def with (page)
<!DOCTYPE html>
<html lang="pt-br"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Trabalho 3 de S.O.</title>
<meta name="author" content="Denilson Figueiredo de Sá, Pedro Henrique Conilh de Beyssac, Renato Signoretti">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="stylesheet" type="text/css" href="/static/code128.css">
<script type="text/javascript" src="/static/code128.js"></script>
<!--[if lt IE 8]>
<link rel="stylesheet" type="text/css" href="/static/ie6nomore/ie6nomore.css">
<![endif]-->
</head><body>

<!-- The following code has been adapted from http://www.ie6nomore.com/code-samples.html -->
<!--[if lt IE 8]>

<div class="ie6nomore">

	<div class="ie6nomore_close"><a href="#" onclick="javascript:this.parentNode.parentNode.style.display='none'; return false;"><img src="/static/ie6nomore/ie6nomore-cornerx.jpg" alt="Close this notice" /></a></div>

	<div class="ie6nomore_inner">

		<div class="ie6nomore_warning"><img src="/static/ie6nomore/ie6nomore-warning.jpg" alt="AVISO!"/></div>

		<div class="ie6nomore_message">
			<div class="ie6nomore_message_bold">Você está usando um navegador desatualizado</div>
			<div class="ie6nomore_message_normal">Para navegar melhor neste site, por favor, atualize seu navegador.</div>
		</div>

		<div class="ie6nomore_icon"><a href="http://pt-br.www.mozilla.com/pt-BR/"><img src="/static/ie6nomore/ie6nomore-firefox.jpg" alt="Get Firefox 3.5" /></a></div>

		<div class="ie6nomore_icon"><a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=341c2ad5-8c3d-4347-8c03-08cdecd8852b&DisplayLang=pt-br"><img src="/static/ie6nomore/ie6nomore-ie8.jpg" alt="Get Internet Explorer 8" /></a></div>

		<div class="ie6nomore_icon"><a href="http://www.apple.com/br/safari/download/"><img src="/static/ie6nomore/ie6nomore-safari.jpg" alt="Get Safari 4" /></a></div>

		<div class="ie6nomore_icon"><a href="http://www.google.com/chrome?hl=pt-BR"><img src="/static/ie6nomore/ie6nomore-chrome.jpg" alt="Get Google Chrome" /></a></div>

	</div>

</div>

<![endif]-->


<div class="horizontalmenu">
<div class="filmeffect">
<ul class="horizontalmenu">
<li><a href="/">Home</a></li>
<li><a href="/apresentacao">Apresentação</a></li>
<li><a href="/sessoes">Sessões</a></li>
<li><a href="/admin">Admin</a></li>
</ul>
<br>
</div>
</div>

<div class="content">
$:page
</div>

<div class="footer">
Autores: Denilson Figueiredo de Sá, Pedro Henrique Conilh de Beyssac, Renato Signoretti
</div>

</body></html>
