$def with (page)
<!DOCTYPE html>
<html lang="pt-br"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Trabalho 3 de S.O.</title>
<meta name="author" content="Denilson Figueiredo de Sá, Pedro Henrique Conilh de Beyssac, Renato Signoretti">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="stylesheet" type="text/css" href="/static/code128.css">
<script type="text/javascript" src="/static/code128.js"></script>
</head><body>

<div class="horizontalmenu">
<div class="filmeffect">
<ul class="horizontalmenu">
<li><a href="/">Home</a></li>
<li><a href="/sessoes">Sessões</a></li>
<li><a href="/admin">Admin</a></li>
</ul>
<br>
</div>
</div>

<div class="content">
$:page
</div>

<div class="footer">
Autores: Denilson Figueiredo de Sá, Pedro Henrique Conilh de Beyssac, Renato Signoretti
</div>

</body></html>
