$def with (page)
<!DOCTYPE html>
<html lang="pt-br"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Trabalho 3 de S.O.</title>
<meta name="author" content="Denilson Figueiredo de S&aacute;">
<link rel="stylesheet" type="text/css" href="static/style.css">
</head><body>

<div class="horizontalmenu">
<ul class="horizontalmenu">
<li><a href="/">Home</a></li>
<li><a href="/sessoes">Listar sessões</a></li>
</ul>
<br>
</div>

<div class="content">
$:page
</div>

</body></html>
