$def with (sessoes)

<table class="sessoes">
<thead>
<tr>
<th class="hora">Hora</th>
<th class="sala">Sala</th>
<th class="lugares">Lugares</th>
<th class="filme">Filme</th>
</tr>
</thead>

<tbody>
$for s in sessoes:
    <tr>
    <td class="hora"   ><a href="/sessao/$s.id">$s.hora</a></td>
    <td class="sala"   ><a href="/sessao/$s.id">$s.sala</a></td>
    <td class="lugares"><a href="/sessao/$s.id">$s.lugares_livres/$s.lugares_total</a></td>
    <td class="filme"  ><a href="/sessao/$s.id">$s.filme</a></td>
    </tr>

</tbody>
</table>
