$def with (sessoes)

<h1>Sessões disponíveis</h1>

<table class="list_data sessoes">
<thead>
<tr>
<th class="hora">Hora</th>
<th class="sala">Sala</th>
<th class="lugares">Lugares</th>
<th class="filme">Filme</th>
</tr>
</thead>

<tbody>
$for s in sessoes:
    <tr>
    <td class="hora"   ><a href="/sessao/$s.id">$s.hora</a></td>
    <td class="sala"   ><a href="/sessao/$s.id">$s.sala.nome</a></td>
    <td class="lugares"><a href="/sessao/$s.id">${s.get_assentos_count_string()}</a></td>
    <td class="filme"  ><a href="/sessao/$s.id">$s.filme</a></td>
    </tr>

</tbody>
</table>
